{% extends 'base.html' %}{% load bootstrap_tags %} {% block page_title %}Absence{% endblock %} {% block page_heading %}Home{% endblock %} {% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Absence</li>
    </ol>
</nav>
<h1>Add Absence</h1>
<div class='col-sm-12 col-md-6 offset-md-3'>
    <form method="POST" id="ab">

        <!-- display model absence form-->
        {{ form | as_bootstrap }} {% csrf_token %}


        <button type='submit' class="btn btn-secondary">Submit</button>
    </form>
</div>
{{pk}} {% endblock %}