@import url('https://fonts.googleapis.com/css?family=Bitter|Teko&display=swap');



body{
    font-family: 'Bitter', serif;
    font-size: 14px;
}

h1, h2, h3,h4, h5{
    font-family: 'Teko', sans-serif;
}

thead{
  background-color: #5a5a5a;
  color:white;
  font-size: 16px;
}
/*............................General..............................*/
table{
    text-align: center;
    /*margin-top: 100px;*/
   
}

/*............................Base..............................*/

/*...nav...*/
nav{
    background-color: rgb(103,170,66)
}

.title{
    color:#2C6CB5;
    font-weight: 800;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

.custom-toggler.navbar-toggler-icon { 
    border-color: #2C6CB5; 
} 

.container-fluid{
    margin-top:130px;
}
.nav-link {
  color:white!important;
  font-size: 18px;
}

/*............................login..............................*/

.index_bg_img{
    height: 700px;
    background-image: url('../images/Picture1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.log_form{
    margin-top: 10%;
}

/*............................index..............................*/

.dropdown-menu{
  padding-left: 15px;
  width:300px;
  background-color: #359CAB;
}
.data-circle{
      height: 200px;
  width: 200px;
  background-color: #00ACB7;
  border-radius: 50%;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 70px;
  box-shadow: 6px 6px 5px grey;
  font-size: 18px;
  color:#676767;
  margin-bottom: 15px;
  
}

.dc-info{
  color:white;
  font-size: 18px;
}

.dc-text{
  color:#5a5a5a;
}
.approvals{
   padding-left: 0!important;
   padding-right: 0!important;
}

.abs_butt{
  background-color: red;
}
.staff_ab_text{
  font-size: 15px;
}
/*............................Add Rota..............................*/


/*............................view Rota..............................*/




.butt_float{
  float:right;
}

.day{
  text-align: center;
}
.test{
  display:none;
}
.bingham{
 fill:rgb(230,230,250);
}

.cotgrave ,.cotgrave_col{
   fill:rgb(70,130,180);
}


.rota_holder{
  margin-top: 100px;/*sets gap between table and search*/
}
.ot_col{
 color:#FF7F50;
}
.pluspot{
  color:green;
  fill:rgb(127,255,0);

}
.minuspot{
   color:red;
   fill:rgb(127,255,0);
   
}


.search{
  display:block;
  margin:auto;
}

.search_form{
 
  padding-left:0;
  
}

.search_form form{
 
 display: block;
 margin:auto;
  
}
.rota_div{
  padding: 0;
}


.rota_tab{
    width:100%;
}

.form_holder{
  text-align: center;
}

.togg{
  margin-bottom: 10px;
}

