@import url('https://fonts.googleapis.com/css?family=Bitter|Teko&display=swap');

body{
    font-family: 'Bitter', serif;
    font-size: 12px;
}

h1, h2, h3,h4, h5{
    font-family: 'Teko', sans-serif;
}


/*............................General..............................*/
table{
    text-align: center;
    /*margin-top: 100px;*/
}

/*............................Base..............................*/

/*...nav...*/
nav{
    background-color: rgb(103,170,66)
}

.title{
    color:#2C6CB5;
    font-weight: 800;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

.custom-toggler.navbar-toggler-icon { 
    border-color: #2C6CB5; 
} 

.container-fluid{
    margin-top:130px;
}

/*............................login..............................*/

.index_bg_img{
    height: 700px;
    background-image: url('../images/Picture1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.log_form{
    margin-top: 10%;
}

/*............................index..............................*/
.data-circle{
      height: 200px;
  width: 200px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 70px;
  
}

/*............................Add Rota..............................*/


/*............................view Rota..............................*/

.date_buttons{
  color:#2C6CB5;
}

.date_buttons:hover{
  color:royalblue;
}
.rota_tab{
    width:100%;
}

.form_holder{
  text-align: center;
}




/* Style the form - display items horizontally */
.form-inline {
  display: inline-block;
  flex-flow: row wrap;
  align-items: center;
  margin-left: auto;
  padding-bottom: 10px;
}

/*lines up 1830*/
.left_place{
  padding-right: 0;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: #2C6CB5;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}