{% extends 'base.html' %} {% block page_title %}Home Page{% endblock %} {% block page_heading %}Home{% endblock %}
  {% block content %}
  
 <div class="row">
     
         <div class="col-md-4">
          <div class="data-circle">
           info
           
          </div>
          
          </div>
          <div class="col-md-4">
            <div class="data-circle">
           info
           
          </div>
          </div>
           <div class="col-md-4">
             <div class="data-circle">
           info
           
          </div>
            </div>
 
 </div>
 
 <div class="row">
     <div class="col-sm-12 col-md-6 offset-md-3">
         <table class="table table-striped">
            <thead>
             <tr>
                 <th scope="col">Day</td>
                 <th scope="col">Start</td>
                 <th scope="col">Finish</td>
             </tr>
               </thead>
               <tbody>
             <tr>
                 <td>data</td>
                    <td>data</td>
                       <td>data</td>
             </tr>
             </tbody>
         </table>
     </div>
 </div>
  
  {% endblock %}