{% extends 'base.html' %} {% block page_title %}Rota view{% endblock %} {% block page_heading %}{% endblock %} {% block content %}


<div class='col-sm-12 day'>
    <h1>{{day}}</h1>
</div>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">


        <form method="POST" id="rota_add" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">Select a Date</label>
                <input type="date" name="date" class="form-control" placeholder="yyyy-mm-dd" aria-describedby="rotaHelp" />
                <small id="rotaHelp" class="form-text text-muted">Select a date.</small>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Select a Team</label>

                <input type="text" class="form-control" list="list2" name="team" class='input_filter' placeholder="TEAM" />
                <datalist id="list2">
                     {% for team in teams %}
                        <option  value="{{ team.team }}">
                       
                     {% endfor %}
                              </datalist><br>

                </select>
            </div>



            <button type='submit' class="btn search"><i class="fas fa-search"></i></button> {% csrf_token %}
        </form>





    </div>
</div>

<div class="row">
    <div class="col-6">

        <form method="POST" >
              <input type="hidden" name="team" value="{{team}}">
            <input type="hidden" name="date" value='{{dateymin}}'>
            <button type='submit' class='butt_float'><i class="fas fa-caret-left"></i></button> {% csrf_token %}
        </form>
    </div>
    <div class="col-6">
        <form method="POST" class=''>
            <input type="hidden" name="team" value="{{team}}">
            <input type="hidden" name="date" value='{{datemax}}'>
            <button type='submit'><i class="fas fa-caret-right"></i></button> {% csrf_token %}
            </form>
    </div>
</div>
</div>






<div class="row rota_holder">
    <div class="col-sm-4 left_place d-none 	.d-sm-none d-md-none d-lg-block">
        <table class='table'>
            <thead>
                <tr>
                    <th>
                        <div class="float-left">08:00</div>
                        <div class="float-right">18:30</div>
                    </th>

                </tr>

            </thead>
        </table>


        <br> {% for select in selection %}
        <div class="col-md-4 rota_graph {{select.user.id}}" style="margin-left:{{select.width}}cm; ">
            <svg width="{{select.hours}}cm " height="30">
  <rect width="{{select.hours}}cm " height="30 " class="{{select.location}}"style="stroke-width:3;stroke:rgb(0,0,0)" data-toggle="popover" title="{{select.user.first_name}} {{select.user.last_name}}" data-content="{{select.shift_start}}-{{select.shift_end}} " />
</svg>

        </div>

        {% endfor %} {% for over in overtime %}
        <div class="col-md-4 rota_graph " style="margin-left:{{over.width}}cm; ">
            <svg width="{{over.hours}}cm " height="30">
  <rect width="{{over.hours}}cm " height="30 " style="fill:rgb(255,127,80);stroke-width:3;stroke:rgb(0,0,0) " data-toggle="popover" title="{{over.user.first_name}} {{over.user.last_name}}" data-content="{{over.shift_start}}-{{over.shift_end}} " />
</svg>

        </div>

        {% endfor %} {% for p in pot %} {% if p.worked == 'pluspot' %}
        <div class="col-md-4 rota_graph " style="margin-left:{{p.width}}cm;">
            <svg width="{{p.hours}}cm " height="30">
  <rect width="{{p.hours}}cm " height="30 " style="fill:rgb(127,255,0);stroke-width:3;stroke:rgb(0,0,0) " data-toggle="popover" title="{{p.user.first_name}} {{p.user.last_name}}" data-content="{{p.pot_start}}-{{p.pot_end}}"/>
</svg>

        </div>
        {% else %}
        <div class="col-md-4 rota_graph " style="margin-left:{{p.width}}cm;">
            <svg width="{{p.hours}}cm " height="30">
  <rect width="{{p.hours}}cm " height="30 " style="fill:rgb(220,20,60);stroke-width:3;stroke:rgb(0,0,0) " data-toggle="popover" title="{{p.user.first_name}} {{p.user.last_name}}" data-content="{{p.pot_start}}-{{p.pot_end}}"/>
</svg>

        </div>
        {% endif %} {% endfor %}
    </div>


    <div class="col-12 col-md-12 col-lg-8 rota_div ">
        <table class="table rota_tab ">
            <thead class=" ">
                <tr>

                    <th scope="col ">Name</th>
                    <th scope="col ">Start</th>
                    <th scope="col ">Finish</th>
                    <th scope="col " class='d-none d-sm-block'>Day</th>
                    <th scope="col ">Location</th>
                </tr>
            </thead>
            <tbody>
                {% for select in selection %}
                <tr class="{{select.user.id}}">
                    <td> {{select.user.first_name}} {{select.user.last_name}}</td>
                    <td>{{select.shift_start}}</td>
                    <td>{{select.shift_end}}</td>
                    <td class='d-none d-sm-block'>{{select.day}}</td>
                    <td>{{select.location}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><b>Overtime Shifts</b> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for over in overtime %}
                <tr class='ot_col'>
                    <td> {{over.user.first_name}} {{over.user.last_name}}</td>
                    <td>{{over.shift_start}}</td>
                    <td>{{over.shift_end}}</td>
                    <td>{{over.location}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td><b>Pot Hours</b> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for p in pot %}
                <tr class='{{p.worked}}'>
                    <td> {{p.user.first_name}} {{p.user.last_name}}</td>
                    <td>{{p.pot_start}}</td>
                    <td>{{p.pot_end}}</td>
                    <td>{{p.worked}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
</div>







<h1>Holiday</h1><button id='togg' class='btn-outline-secondary btn-sm"'>Show/Hide</button>

<table class="table table-bordered table-dark">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">start</th>
            <th scope="col">end</th>
            <th scope="col">days</th>

        </tr>
    </thead>
    <tbody>

        {% for stu in stuff %}
        <div class='test'>{{stu.user.pk}}</div>
        <tr>
            <td>{{stu.user.pk}}</td>
            <td>{{stu.user.first_name}} {{stu.user.last_name}}</td>
            <td> {{stu.date_start}}</td>
            <td> {{stu.date_end}}</td>
            <td> {{stu.days}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
