{% extends 'base.html' %} {% block page_title %}Rota view{% endblock %} {% block page_heading %}{% endblock %} {% block content %}

<div class='container-fluid'>

<div class="row">
   <div class="col-md-3">
       
        <form method="POST">
            <input type="hidden" name="team" value="{{team}}">
            <input type="hidden" name="date" value='{{dateymin}}'>
            <button type='submit'class='date_buttons'><i class="fas fa-angle-left fa-5x "></i></button>
        {% csrf_token %}
        </form>
    </div>
    <div class="col-md-6 form_holder">
        <div class='col-sm-12 day'><h1>{{day}}</h1></div>
        <form method="POST" id="rota_add" class="form-inline" enctype="multipart/form-data">

            <input type="date" name="date" class="form-control" placeholder="yyyy-mm-dd" />

            <input type="text" class="form-control" list="list2" name="team" class='input_filter' placeholder="TEAM" />
            <datalist id="list2">
         {% for team in teams %}
         <option  value="{{ team.team }}">
           
         {% endfor %}
      </datalist><br>
            <button type='submit' class="btn"><i class="fas fa-search"></i></button> {% csrf_token %}
        </form>
    </div>
    <div class="col-md-3">
        <form method="POST">
            <input type="hidden" name="team" value="{{team}}">
            <input type="hidden" name="date" value='{{datemax}}'>
            <button type='submit' class='float-right date_buttons '><i class="fas fa-angle-right fa-5x  date_buttons "></i></button>
        {% csrf_token %}
        </form>
    </div>
</div>


</div>

<div class="row rota_holder">
    <div class="col-sm-4 left_place">
        <table class='table'>
            <thead>
                <tr>
                    <th>
                        <div class="float-left">08:00</div>
                        <div class="float-right">18:30</div>
                    </th>
                    
                </tr>
                
            </thead>
        </table>


        <br> {% for select in selection %}
        <div class="col-md-4 rota_graph {{select.user.id}}" style="margin-left:{{select.width}}cm; ">
            <svg width="{{select.hours}}cm " height="30">
  <rect width="{{select.hours}}cm " height="30 " class="{{select.location}}"style="stroke-width:3;stroke:rgb(0,0,0)" data-toggle="popover" title="{{select.user.first_name}} {{select.user.last_name}}" data-content="{{select.shift_start}}-{{select.shift_end}} " />
</svg>

        </div>

        {% endfor %} {% for over in overtime %}
        <div class="col-md-4 rota_graph " style="margin-left:{{over.width}}cm; ">
            <svg width="{{over.hours}}cm " height="30">
  <rect width="{{over.hours}}cm " height="30 " style="fill:rgb(255,127,80);stroke-width:3;stroke:rgb(0,0,0) " data-toggle="popover" title="{{over.user.first_name}} {{over.user.last_name}}" data-content="{{over.shift_start}}-{{over.shift_end}} " />
</svg>

        </div>

        {% endfor %}
    </div>


    <div class="col-sm-8 ">
        <table class="table rota_tab ">
            <thead class=" ">
                <tr>

                    <th scope="col ">Name</th>
                    <th scope="col ">Start</th>
                    <th scope="col ">Finish</th>
                    <th scope="col ">Day</th>
                    <th scope="col ">Location</th>
                </tr>
            </thead>
            <tbody>
                {% for select in selection %}
                <tr class="{{select.user.id}}">
                    <td> {{select.user.first_name}} {{select.user.last_name}}</td>
                    <td>{{select.shift_start}}</td>
                    <td>{{select.shift_end}}</td>
                    <td>{{select.day}}</td>
                    <td>{{select.location}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td><b>Overtime Shifts</b> </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for over in overtime %}
                <tr class='ot_col'>
                    <td> {{over.user.first_name}} {{over.user.last_name}}</td>
                    <td>{{over.shift_start}}</td>
                    <td>{{over.shift_end}}</td>
                    <td>{{over.location}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

    </div>
</div>







<h1>Holiday</h1><button id='togg' class='btn-outline-secondary btn-sm"'>Show/Hide</button>

<table class="table table-bordered table-dark">
  <thead>
    
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">start</th>
      <th scope="col">end</th>
      <th scope="col">days</th>
      
    </tr>
  </thead>
  <tbody>
      
      {% for stu in stuff %}
      <div class='test'>{{stu.user.pk}}</div> 
    <tr>
      <td >{{stu.user.pk}}</td>
      <td>{{stu.user.first_name}} {{stu.user.last_name}}</td>
      <td> {{stu.date_start}}</td>
      <td> {{stu.date_end}}</td>
      <td> {{stu.days}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
 {% endblock %}
